:root {
    --black-1: #545454;

    --blue-1: #87DBFF;

    --gray-1: #BBB4D9;
    --gray-2: #F1ECFF;

    --green-1: #1DDC42;

    --pink-1: #F6A6BB;
    --pink-2: #F4BBC9;
    --pink-3: #F7D1D8;
    --pink-4: #FAE6E7;
    --pink-5: #F7EEED;

    --purple-1: #9B02FD;
    --purple-2: #A38FFE;
    --purple-3: #C798FE;
    --purple-4: #BFB3FF;
}

* {
    font-family: 'Poppins';
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--pink-1), var(--pink-5));
}

.container {
    height: 100vh;
}

.header {
    padding: 30px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(180deg, var(--pink-2), var(--pink-3));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.navigation {
    margin-top: 15px;
}
.navigation a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
}
.navigation a.active {
    background-color: var(--pink-1);
}

.tasks {

}
.tasks-header {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
}
.task-list {
    padding: 0 20px;
    overflow-y: scroll;
    max-height: calc(100vh - 192.6px);
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    transition: all 0.5s ease;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
}

.task:hover {
    transform: scale(1.02);
}

.task-left {
    display: flex;
    flex-direction: column;
}

.task-title {
    color: var(--pink-1);
    font-size: 18px;
    font-weight: bold;
}

.task-timestamp {
    color: var(--gray-1);
    font-size: 14px;
    margin: 10px 0;
}
.task-checkbox {
    color: var(--gray-2);
    font-size: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.task-checkbox.active {
    color: var(--green-1);
}

.action-btns {
    text-align: right;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: calc(100% - 40px);
    pointer-events: none;
    transform: translateY(110px);
    transition: all 0.5s ease-in-out;
}
.action-btns.active {
    transform: translateY(0px);
}
.action-btns button {
    cursor: pointer;
    color: white;
    font-size: 20px; 
    height: 60px;
    margin: 5px;
    width: 60px;
    display: none;
    border: none;
    border-radius: 50%;
    outline: none;
    pointer-events: all;
    background-color: var(--pink-1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
.action-btns button.active {
    display: inline-block;
}
#add-btn.active {
    animation: spin_ccw 0.5s ease-in-out;
}
#close-btn.active {
    animation: spin_cw 0.5s ease-in-out;
}

@keyframes spin_cw {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin_ccw {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.task-action {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.task-action.active {
    visibility: visible;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.25);
}
.task-form-action {
    position: absolute;
    bottom: 0;
    height: 300px;
    padding: 30px;
    width: calc(100% - 60px);
    transform: translateY(360px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.task-action.active .task-form-action {
    transform: translateY(0px);
}
.task-action-title {
    color: var(--pink-1);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.task-action-input {
    color: var(--black-1);
    font-size: 16px;
    padding: 20px 10px;
    width: calc(100% - 20px);
    border: none;
    border-bottom: 1px solid var(--gray-1);
    outline: none;
}